video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.hero-container {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-banner h1 {
  text-align: center;
  color: white;
}
.hero-banner p {
  color: white;
  max-width: 35em;
  text-align: center;
  font-size: 2rem;
  margin: 10px auto;
}
.btn-container {
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

@media screen and (min-width: 800px) {
  .hero-banner h1 {
    font-size: 4rem;
  }
  .hero-banner p {
    font-size: 3rem;
  }
  .btn-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
  }
  button:first-child {
    width: 221.83px;
  }
}
