.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: #fff;
}
.nav-logo span {
  font-size: 1.8rem;
}
.nav-logo i {
  margin-left: 10px;
}
.nav-toggle,
.nav-close {
  border: none;
  font-size: 2rem;
  background: transparent;
  color: #fff;
}
.links {
  /* padding: 1rem; */
  height: 0;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  /* padding-bottom: 0.5rem; */
  transform: translate(-100%);
  transition: all 0.3s linear;
}
.nav-item {
  height: 60px;
  /* padding: 1rem; */
}
.nav-item-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s linear;
}
.nav-item-link:hover {
  background: white;
  color: black;
}
.nav-item:last-child {
  max-width: 300px;
  border-radius: 3px;
  margin: 10px auto 0 auto;
  border: 2px solid white;
}
.show-links {
  transform: translate(0);
  height: 260px;
}

.nav-header i {
  font-size: 2rem;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  .links {
    height: auto;
    overflow: none;
    display: flex;
    /* text-align: left; */
    gap: 0 20px;
    transform: translate(0);
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 90vw;
    margin: 0 auto;
  }
  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-item {
    height: auto;
  }
  .nav-item-link {
    display: inline;
  }
  .nav-item:last-child {
    width: fit-content;
    border-radius: 0;
    border: none;
    margin: 0;
  }
  .nav-item-link:hover {
    background: none;
    color: white;
  }
}
